h4 {
    color: blue;
}
#heading-three-1 {
    color: red;
}
#heading-three-2 {
    color: blue;
}
#heading-three-3 {
    color: red;
}
.group {
    color: blueviolet;
}
p[title="hello"] {
    color: red;
}