* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #fffaf4;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.header-area nav {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}
.header-area a,
.header-area a:link
.header-area a:visited
.header-area a:active {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 20px;
}
.header-area a:hover {
    color: red;
}

.main-area .left-side {
    width: 50%;
    float: left;
    padding-left: 60px;
}

.home-image {
    width: 500px;
}

.main-area .right-side {
    width: 50%;
    float: left;
    margin-top: 108px;
}

.name-color {
    color: red;
    padding-left: 10px;
}

.main-area .button-area {
    float: left;
}

.introduction h1 {
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
    padding-left: 10px;
}
.introduction h2 {
    font-size: 55px;
    margin-bottom: 27px;
}

.introduction p {
    word-spacing: 6px;
    margin-bottom: 80px;
    padding-left: 10px;
}
/* 
.footer-area .button {
    margin-top: 50px;
    padding: 20px;
}

.footer-area .button #button1 {
    background-color: black;
    padding: 15px 25px;
    color: white;
    font-size: 25px;
    border-radius: 30px;
}

.footer-area .button #button2 {
    background-color: brown;
    padding: 10px 18px;
    color: white;
    font-size: 25px;
    border-radius: 50px;
} */

.footer-area .footer {
    width: 95%;
    text-align: right;

}

.footer-area .footer a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-left: 10px;
}
