* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.product-area {
    border: 5px solid black;
    padding: 15px; 
}

.product-area .Product-title h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.Product-title h1 {
    background-color: #4dbd0c;
    color: #faf6f6;
    padding: 20px;
}

.product-image {
    margin-bottom: 20px;
}

.product-images::first-letter {
    color: #4dbd0c;
    font-size: 25px;
}

.lorem {
    margin-bottom: 20px;
}

.lorem::first-line {
    background-color: #e05bf1;
}

.product-image img {
    width: 30%;
    height: auto;
    border: 12px groove rgb(9 239 197);
}

.product-price {
    margin-bottom: 15px;
}

.product-area .product-price strong {
    font-size: 20px;
    text-decoration: underline;
    height: 80px;
    width: 100px;
    margin: 20px;
    background: #e05bf1;
    padding: 10px;
    display: inline-block;
}

.shipping-details {
    font-weight: bold;
    font-size: 18px;
    color: #faf6f6;
    background-color: #384af1;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* text-decoration: underline; */
    position: relative;
}

.shipping-details::after {
    content: 'Sale';
    display: inline-block;
    background-color: #4dbd0c;
    color: black;
    padding: 8px;
    position: absolute;
    top: -11px;
    right: -9px;

}

.product-images {
    margin-bottom: 20px;
}

.product-area .product-info h3 {
    margin-bottom: 20px;
}

.product-area .product-info ul {
    list-style: circle;
    font-weight: bold;
    color: #384af1;
    padding-left: 30px;
    background-color: #e05bf1;
    width: 200px;
}

.product-area .product-info ul li {
    margin-bottom: 8px;
}

.product-area .product-info ul li:last-child {
    margin: 0;
}

.product-area .product-info {
    margin-bottom: 20px;
}

.product-area .product-buy a,
.product-area .product-buy a:link,
.product-area .product-buy a:visited,
.product-area .product-buy a:hover,
.product-area .product-buy a:active {
    text-decoration: none;
    color: #fff;
    background: #4dbd0c;
    padding: 10px;
    width: 100%;
}

.product {
    position: relative;
}

.test-position {
    width: 400px;
    height: 40px;
    background: #384af1;
    position: absolute;
    right: 10px;
    bottom: 10px;
}



/* 
Block Box Model - display: block 
Inline Type - display: inline  
inline-Block Type - display: inline-Block */

/*
relative position
absolute position 
*/